body {
    font-family: 'Playfair Display', serif;
}

.intro-head {
    display: flex;
}

.head-div {
    width: 50%;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 80px;
    height: 50%;
    margin-bottom: 80px;

}

.head-border {
    border-left: 5px solid orange;
}

.head-line {
    font-size: 40px;



}



.Exp-btn {
    text-decoration: none;
    background-color: rgb(244, 152, 118);
    padding: 15px 30px;
    border-radius: 4px;
    color: aliceblue;
    font-size: 100%;


}

.target-line {
    font-size: 40px;
    text-align: center;
}

.target-sec {
    display: flex;
}

.target-div {
    width: auto;
    margin: 80px;
    padding: 20px;
    border-radius: 20px;
}